
<div class="panel panel-default">
  <div class="panel-heading">
    <% if answer.question.rules[:presence] == "1" %>
        <h3 class="panel-title required">
    <% else %>
        <h3 class="panel-title">
    <% end %>
    <%= f.label :answer_text, answer.question.question_text %>
    </h3>
  </div>
  <div class="panel-body">
    <%= f.text_field :answer_text, {:class => 'form-control datepicker', :data => {:provide => 'datepicker'}} %>
    <%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
  </div>
</div>

