<%- if answer.errors.any? %>
  <ul>
    <%- answer.errors.full_messages.each do |message| %>
      <li><div class="alert alert-warning" role="alert"><%= message %></div></li>
    <% end %>
  </ul>
<% end %>
