<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= f.label :answer_text, answer.question.question_text %></h3>
  </div>
  <div class="panel-body">
    <%= f.text_field :answer_text %>
    <%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
  </div>
</div>


