<h2>
  <%= t('surveys.questions') %>
</h2>
  <%= link_to t('surveys.new_question'), new_survey_question_path(@survey), :class=> 'btn btn-primary'%>

<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th> <%= t('surveys.question') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
