<%= render partial: 'form', locals: { form: @question_form, url: survey_question_path(@survey, @question), method: :put, submit_text: t('surveys.update_question') } %>

<ul class="nav nav-pills">
  <li><%= link_to t('common.back'), survey_questions_path(@survey) %></li>
</ul>
