<%- if answer.errors.any? %>
  <ul class="errors">
    <div class="alert alert-warning" role="alert">
    <%- answer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </div>
  </ul>
<% end %>